<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>style web co ban, bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_menu.css">
</head>

<body>
    <!-- Layout -->
    <header>header</header>
    <nav>
        <ul class="menu">

            <li class="item">
                <a href="#">The loai</a>
                <ul class="sub-menu">
                    <li class="sub-item">
                        <a href="#">Hanh dong</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Kinh di</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Phim hai</a>
                    </li>
                </ul>
            </li>
            <li class="item"><a href="#">Quoc gia</a></li>
            <li class="item"><a href="#">Phim le</a></li>
        </ul>

    </nav>
    <section>
        <div class="container">
            <div class="row">
                <aside class="col-3">Side bar</aside>
                <article class="col-9">
                    <h4>Heading</h4>
                    <p>Tin tức 24h, đọc báo TN cập nhật tin nóng online Việt Nam và thế giới mới nhất trong ngày, tin nhanh thời sự, chính trị, xã hội hôm nay, tin tức chính thống VN</p>
                    <button onclick="show()">showmore</button>
                </article>

            </div>
        </div>
    </section>
    <footer>footer</footer>
    <script>
        function show() {

        }
    </script>
</body>

</html>